#secret{
    height: 1;
    width: 1;
    background-color: white;
    border-color: white;
}
#multiply {
    background-color: white;
    border-color: black;
}
#hassanah {
    height: 150px
}
#imanboostcalc {
    text-align:center;
}
#display {
    text-align: center;
    margin-top: 24;
    font-size: 24px
}
#imanBoost {
    font-family: Impact;
    margin-top: 30;
    font-size: 20;
    margin-bottom: 10;
}
#body {
background-image: url(http://hdwallsource.com/img/2014/5/green-background-21870-22423-hd-wallpapers.jpg);
}

